* {
    font-family: 'Open Sans', sans-serif;
}

/* Nav sections */

nav {
    width: 15vw;
    /* min-width: 15%; */
    min-height: 100%;
    background-color: #354052;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.profile-section {
    border-bottom: 4px solid #293241;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    flex-direction: column;
}

.nav-sections {
    border-bottom: 4px solid #293241;
}

/* Header Section */
header {
    display: flex;
    height: 80px;
    border-bottom: 2px solid #EEF2F5;
    width: 85vw;
    position: absolute;
    right: 0;
    top: 0;
}

.search-bar-container {
    flex-grow: 1;
}

.search-bar {
    height: 94%;
    width: 100%;
    border: none;
    padding-left: 20px;
    color: #A0ACBF;
    font-size: 0.75em;
}

.top-right-buttons {
    width: 8%;
    border-right: 2px solid #EEF2F5;
}

.top-right-buttons:hover {
    background-color: #15A4FA;
    cursor: pointer;
}

.add-user-button {
    border-left: 2px solid #EEF2F5;
}

/* Main Section */

.h1-container {
    position: absolute;
    top: 80px;
    left: 15%;
    height: 160px;
    width: 85vw;
    border-bottom: 3px solid #EEF2F5;
}

.header-list-container {
    display: flex;
    flex-direction: column;
}

/* Sub-content Section */
.sub-content {
    background-color: #ecf2f6;
    height: 2000px;
    width: 85vw;
    position: absolute;
    left: 15%;
    top: 243px;
}

/* Images and Icons */

.profile-pic {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-top: 30px;
}

/* Text Styling */
#profile-name {
    font-weight: 400;
    line-height: 1.5rem;
    color: #A0ACBF;
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}

.nav-headings {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #65748D;
    font-size: 1rem;
    padding-left: 25px;
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 3em;
    color: #4E515E;
    padding-left: 55px;
    margin-bottom: 0;
    margin-top: 10px;
}

.location-paragraph {
    font-weight: 400;
    color: #8A95A5;
    position: relative;
    left: 57px;
    bottom: 25px;
    font-size: 0.8em;
    display: inline-block;
    margin-bottom: 0;
}
.preview-location-separator {
    display: inline-block;
}

.preview-link {
    display: inline-block;
    color: #15A4FA;
    text-decoration: none;
    font-size: 0.8em;
    padding-left: 3px;
    position: relative;
    left: 58px;
    bottom: 25px;
}

/* List Stylings */

li {
    list-style-type: none;
    color: #A0ACBF;
    padding-bottom: 15px;
    font-size: 0.75em;
    font-weight: 600;
}

.nav-list-item:hover {
    color: #EEF2F5;
    cursor: pointer;
}
/* 
.header-list {
    display: flex;
    justify-content: space-around;
} */

.header-list-item {
    display: inline-block;
    margin-left: 18px;
    margin-right: 15px;
    position: relative;
    bottom: 8px;
}

.header-list-item:hover {
    border-bottom: 3px solid #15A4FA;
    color: #333;
    cursor: pointer;
}

/* Button Styling */

.header-buttons {
    position: absolute;
    bottom: 80px;
    right: 27%;
    color: #A0ACBF;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    font-size: 0.75em;
    font-weight: 700;
    border: 1.5px solid #A0ACBF;
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.flag-header-button {
    right: 22%;
    background-image: url(./images/bookmark.svg);
}

.pencil-header-button {
    right: 17%;
    background-image: url(./images/pencil-edit-button.svg);
}

.trash-header-button {
    right: 12%;
    background-image: url(./images/delete-photo.svg);
}

.open-button {
    width: 10em;
    border-radius: 12px;
    
}

.header-buttons:hover {
    background-color: #15A4FA;
    color: #FFFFFF;
}