
.icon-book:before { content: '\e800'; } /* '' */
.icon-flow-tree:before { content: '\e801'; } /* '' */
.icon-calendar-inv:before { content: '\e802'; } /* '' */
.icon-iphone-home:before { content: '\e803'; } /* '' */
.icon-left-dir:before { content: '\e804'; } /* '' */
.icon-up-dir:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-adult:before { content: '\e807'; } /* '' */
.icon-flow-cross:before { content: '\e808'; } /* '' */
.icon-bookmark:before { content: '\e809'; } /* '' */
.icon-briefcase:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-pencil:before { content: '\e80c'; } /* '' */
.icon-globe:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-blank:before { content: '\f0c8'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-calendar:before { content: '\f4c5'; } /* '' */